@import 'src/sass/colors';

.btn-subtle {
  border: 0;
  cursor: pointer;
}

.btn-invisible {
  @extend .btn-subtle;
  background: transparent;

  &:focus {
    background: transparent;
  }
}

.main-bar {
  /*! ... */
}

.projects-list-box {
  background: $sidebar-color;
  overflow: auto;
  position: fixed;
  height: 100%;
}

.tasks-list-box {
  //@extend %nice-scrolls;
  padding: 40px !important;
  float: unset !important;
}
