@import 'src/sass/colors';
@import 'src/sass/mixins';

.login-box {
  padding: $login-form-panel-padding;
  max-width: unquote('min(#{$login-form-max-width}, 95vw)');
  border: 1px solid $subtle-color;
  min-width: 0.7 * $login-form-max-width;
}

