@import "src/sass/colors";

.starred {
  opacity: 1;
  
  &.starred-yellow {
    color: $priority-med;
  }
  &.starred-green {
    color: $priority-low;
  }
  
  &.not-starred {
    opacity: 0.3;

    &:hover {
      opacity: 0.6
    }
  }
}
