@import 'src/sass/mixins';
@import 'src/sass/colors';

.projects-list {
  margin-left: 20px;
  margin-right: 10px;

  li.proj-li {
    padding: 0 6px;
    min-height: $list-item-height;
    position: relative;

    &.selected > button {
      font-weight: bold;
    }

    .add-project {
      flex: 1 0 90%;
      width: 100%;
      padding: 0;
      align-items: center;
    }
    .add-project__input {
      text-align: left;
      height: $list-item-height;
    }
  }

}

.logout {
  position: absolute;
  bottom: 0;
  padding: 8px;
}


//.btn-color-picker {
//  border-radius: 100%;
//  width: 10px;
//  height: 10px;
//  border: none;
//  display: inline-block;
//  //width: 10px !important;
//}
.color-picker {
  position: absolute;
  top: 35px;
  z-index: 2;
  left: -10px; // half of the width of .btn-colorpicker, which has 6px side padding + 10px content = 22px.
}
