@import 'src/sass/mixins';
@import 'src/sass/colors';

.projects-list {

  li {
    padding: 6px;
    min-height: $list-item-height;
    position: relative;

    &.selected > button {
      font-weight: bold;
    }

    .add-project {
      padding: 0 6px;
      flex: 1 0 90%;
    }
  }

}

.logout {
  position: absolute;
  bottom: 0;
  padding: 8px;
}
