@import 'src/sass/colors';
@import 'src/sass/mixins';

.feature {
  $img-width: 300px;

  // JUST A TEST
  height: 350px;
  overflow: hidden;
  ////////

  padding: 25px 25px 0;
  margin-bottom: 25px;
  border: 1px solid $very-subtle-color;
  width: 100%;
  @include transition(1s all ease-in-out);

  &:hover {
    @include box_shadow(30px, -20px);
    .feature__image {
      width: 1.05 * $img-width;
    }
  }

  &__title {
    text-align: center;
    min-height: 80px;
    color: $subtle-color;
    margin: 0;
  }

  &__image {
    max-width: 90%;
    min-width: $img-width;
    width: $img-width;
    @include transition(1s all ease-in-out);
  }
}
