@import 'src/sass/colors';


$header-btn-m: 10px;

.header-area {
  display: inline-block;
  width: 100vw;
  height: $header-height;
}

.headroom {
  position: fixed;
  height: $header-height;
  width: 100vw;
  display: inline-block;
}

.navbar {
  display: flex;
  flex-direction: row;
  // margin: 0 auto;
  margin: 0 1rem;
  max-width: $landing-width;
  height: $header-height;
  background: $app-background-color;
  align-items: center;

  %navbar-start {
    //margin-right: auto;
    justify-self: flex-start;
  }

  &-brand {
    @extend %navbar-start;
    text-decoration: none;
    color: inherit;
    //width: 1.2 * $navbar-height;
  }
  &-toggler {
    @extend %navbar-start;
  }
  &-links {
    text-decoration: none;

    &-ul {
      display: flex;
    }

    .desktop & {
      margin-left: auto;

      > .navbar-links-ul {
        flex-direction: row;
        > .nav-item {
          margin: 0 $header-btn-m;
        }
      }
    }
    .mobile & {
      display: none;

      > .navbar-links-ul {
        flex-direction: column;
      }
    }
  }

  .goto-app {
    margin-left: #{ 1.5 * $header-btn-m };
    .mobile & {
      margin-left: auto;
    }
  }

  .goto-app-dd {
    min-width: 150px;
  }
}

.footer {
  border-top: 4px solid $very-subtle-color;
}
.copyright {
  border-top: 2px solid $very-subtle-color;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.copyright__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
