@import 'src/sass/colors';

$svg-img: 200px;

.landing-content {
  min-height: 60vh;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: $landing-width;
  padding: 50px 0;
}

.svg-img {
  height: $svg-img;
  width: $svg-img;
}

.svg-img--big {
  height: 3 * $svg-img;
  width: 3 * $svg-img;
  max-width: 50vw;
  max-height: 80vw;
}


.half-flex {
  flex: 1 1 50%;
}

.section-box {
  margin: 50px 0;

  .section-title {
    font-size: 1.25rem;
    text-transform: uppercase;
    letter-spacing: 8px;
    color: $red;
    text-align: center;
    font-family: nunito, sans-serif;
    margin-bottom: 25px;
  }
}
.features-section {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  display: flex;
}

.footer-links {
  display: flex;
  flex-direction: column;
}

