@import 'colors';
@import 'mixins';

.container {
  margin: 0 auto;
  width: $landing-width;
  max-width: 95%;
}

#todo-app {
  @extend .flex-row;
  justify-content: space-between;

  &.hidden-bar {
    //justify-content: center;
    //@media (max-width: $hide-navbar-width) {
    //  display: none;
    //}
    //@media (min-width: $hide-navbar-width) {
    //  visibility: hidden;
    //}
    .projects-list-box-inner {
      left: -$sidebar-width;
      opacity: .99999;
    }
    .projects-list-box {
      max-width: 0;
    }
  }
}

%left-sidebar {
  display: inline-block;
  min-height: 100px;
  left: 0;
  max-width: $sidebar-width;
}

.projects-list-box {
  flex: 0 0 $sidebar-width;
  @extend %left-sidebar;
  @include transition();
  &-inner {
    @include transition();
    width: $sidebar-width;
    @extend %left-sidebar;
    background: $sidebar-color;
    overflow: auto;
    position: fixed;
    top: $navbar-height;
    bottom: 0;
    z-index: 1;
  }
}

.tasks-list-box {
  //@extend %nice-scrolls;
  padding: 2 * $task-padding $task-padding !important;
  float: unset !important;
  justify-self: center;
  width: $tasks-box-width;
  min-width: $tasks-box-min-width;
  margin: $navbar-height auto 0;

  @media (max-width: 400px) {
    padding-left: 0 !important;
  }
}

.loader-input {
  position: relative;

  &:after {
    content: "";
    align-self: center;
    justify-content: flex-end;
    background: url("../assets/loader.svg") left no-repeat;
    background-size: contain;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;

    position: absolute;
    backdrop-filter: blur(1px);
  }

  &.cover:after {
    background-position: center;
    background-size: 50px
  }

}

nav {
  height: $navbar-height;
  z-index: 1;
}
.nav-wrapper {
  //max-width: 1000px;
  padding: 0 $navbar-padding;
  margin: 0 auto;
  display: flex;
  align-items: center;
  height: $navbar-height;

  .navbar-btn {
    color: $navbar-color-text;
  }

}



.dropdown {
  $big-dropdown: 1.5 * $list-item-height;
  position: absolute;
  background: $app-background-color;
  @include box_shadow();
  z-index: 2;
  width: max-content;
  max-width: 70vw;
  color: $primary-color-text;

  top: $list-item-height;

  &.dd-big {
    top: $big-dropdown;
  }
  &.dd-right {
    left: 10px;
  }
  &.dd-left {
    right: 10px;
  }
  &.dd-20 {
    top: 20px;
  }
  &.dd-high {
    > .dropdown-item {
      height: $big-dropdown;
    }
  }

  > .dropdown-item {
    display: flex;
    padding: 0 4px;
    width: 100%;
    background: $dropdown-color;
    &:hover {
      background: $very-subtle-color;
    }
  }

}


.priority {
  opacity: 0.4;
  cursor: pointer;
  &.active, &:hover {
    opacity: 1;
  }
}
.prio-0 {
  color: $subtle-color;
}
.prio-1 {
  color: $priority-low;
}
.prio-2 {
  color: $priority-med;
}
.prio-3 {
  color: $priority-high;
}

input:focus {
  border-bottom: 1px solid $subtle-color !important;
  box-shadow: 0 2px 0 0 $subtle-color !important;
  box-sizing: border-box !important;
}

.main-btn {
  //border-radius: 8px;
  color: white !important;
  @include transition();
  &:hover {
    @include box_shadow(10px, -2px);
  }
  background-color: $red;
  &:hover, &:focus {
    background-color: rgba($red, 0.9) !important; /* important because of forms.scss */
  }
}

.center-logo {
  $icon-size: 0.8 * $header-height;
  position: fixed;
  height: $header-height;
  width: $icon-size;
  left: 50%;
  margin-left: -0.5 * $icon-size;
  display: flex;
  align-items: center;
}

.p-0 {
  padding: 0;
}
.d-flex {
  display: flex;
}
.d-row {
  display: flex;
  flex-direction: row;
}
.d-column {
  display: flex;
  flex-direction: column;
}
.align-center {
  align-items: center;
}

ul.inline {
  margin: 0;
}