$primary-color: #2f2fc8;
$danger-color: #9d4a4a;
$success-color: #6db36d;

$danger-color-bg-text: white;
$primary-color-bg-text: white;

$open-task-bg-color: transparent;


$primary-color-text: #333;
$secondary-color-text: #888;

$subtle-color: #aaa;
$very-subtle-color: #efefef;

$app-background-color: #fff;
$sidebar-color: #efefef;
$loader-bg-color: #efefef;


$hide-navbar-width: 1000px; // coincides with the values of smallScreen.js
$navbar-height: 50px;

$navbar-width: 300px;
$tasks-box-width: 1000px - $navbar-width;
$tasks-box-min-width: 400px;
