$black: #333;

$primary-color: #34495e;
$primary-color-bg-text: #fff;

$red: #e74c3c;

$open-task-bg-color: transparent;

$primary-color-text: #333;
$secondary-color-text: #888;

$subtle-color: #aaa;
$very-subtle-color: #efefef;

$app-background-color: #fff;
$sidebar-color: #efefef;
$loader-bg-color: #efefef;

$dropdown-color: #fff;

$navbar-color: $primary-color;
$navbar-color-text: $primary-color-bg-text;
$toast-bg-color: $primary-color;

$priority-low: #3498db;
$priority-med: #f1c40f;
$priority-high: $red;

$hide-navbar-width: 1000px; // coincides with the values of smallScreen.js
$navbar-height: 50px;
$navbar-padding: 22px;
$list-item-height: 32px;
$header-height: 80px;

$sidebar-width: 300px;
$tasks-box-width: 1000px - $sidebar-width;
$tasks-box-min-width: 350px;
$task-padding: 5px;

$login-form-panel-padding: 30px; //
$login-form-max-width: 450px;

$todo-button-padding: 6px;

$mobile-breakpoint: 700px;
$desktop-breakpoint: 1200px;

$landing-width: 1200px;
