$primary-color: #34495e;
$primary-color-bg-text: #fff;

$open-task-bg-color: transparent;

$primary-color-text: #333;
$secondary-color-text: #888;

$subtle-color: #aaa;
$very-subtle-color: #efefef;

$app-background-color: #fff;
$sidebar-color: #efefef;
$loader-bg-color: #efefef;

$navbar-color: $primary-color;
$toast-bg-color: $primary-color;

$priority-low: #3498db;
$priority-med: #f1c40f;
$priority-high: #e74c3c;

$hide-navbar-width: 1000px; // coincides with the values of smallScreen.js
$navbar-height: 50px;
$list-item-height: 32px;

$navbar-width: 300px;
$tasks-box-width: 1000px - $navbar-width;
$tasks-box-min-width: 400px;
$task-padding: 10px;

$login-form-panel-padding: 30px; //
$login-form-max-width: 450px;

$todo-button-padding: 6px;
