@import 'colors';

.ml-5 {
  margin-left: 5px !important;
}
.mr-5 {
  margin-right: 5px !important;
}
.mt-5 {
  margin-top: 5px;
}

.ml-27 {
  margin-left: 27px;
}
.ml-50 {
  margin-left: 50px;
}
.ml-auto {
  margin-left: auto;
}

.mb-5 {
  margin-bottom: 5px;
}
.mb-15 {
  margin-bottom: 15px;
}

.mr-11 {
  margin-right: 11px !important;
}

.m0 {
  margin: 0 !important;
}

.p0 {
  padding: 0 !important;
}
.p-10 {
  padding: 10px !important;
}

.pt-5 {
  padding-top: 15px;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}
.vh-100 {
  height: 100vh;
}
.bt-subtle {
  border-color: rgba(0,0,0,0.05);
  border-width: 1px 0 0 0;
  border-style: solid;
}

.pointer {
  cursor: pointer;
}

.btn-pr {
  padding-right: $todo-button-padding !important;
}
.btn-pl {
  padding-left: $todo-button-padding !important;
}
.btn-p {
  @extend .btn-pr;
  @extend .btn-pl;
}

.max-content {
  width: max-content;
  max-width: 100%;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-center-start {
  align-self: center;
  justify-self: flex-start;
}

.flex-center-self {
  align-self: center;
}
.flex-wrap {
  flex-wrap: wrap;
}

.place-center {
  align-items: center;
  justify-content: center;
  display: flex;
}

.o-2 {
  opacity: 0.5; // === 1/2, hence the 2
}
.o-3 {
  opacity: 0.333; // 1/3, hence the 3
}
.o-1 {
  opacity: 0.1;
}

$fff: 30;
$max-fff: 100 - $fff;
@while ($fff <= $max-fff) {
  .f-#{ $fff } {
    flex: 0 0 #{$fff}#{'%'};
  }
  $fff: $fff + 5;
}


.relative {
  position: relative;
}

.subtle {
  color: $subtle-color !important;
}
.subtle-bg {
  background: $subtle-color !important;
}
.bold {
  font-weight: bold;
}

.btn {
  border: 0;
  cursor: pointer;

  &:focus, &:hover {
    background: transparent;
  }
}

.btn-border {
  border: 1px solid !important;
}

.v-hidden {
  visibility: hidden;
}

.hidden {
  display: none !important;
}

.hide {
  display: none !important;
}

// Text Align
.left-align {
  text-align: left;
}
.right-align {
  text-align: right
}
.center, .center-align {
  text-align: center;
}

.left {
  float: left !important;
}
.right {
  float: right !important;
}

.no-color {
  color: inherit;
}

.ib {
  // invisible button
  border: none;
  outline: none;
  cursor: pointer;
  //padding: 0;
  line-height: normal;
  background: transparent;
}

.backdrop {
  content: "";
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1; // because of color picker. where does it need to be > 0 ?
  &.dark {
    background: rgba(0,0,0,0.3);
  }
}

#root.desktop .only-mobile {
  display: none;
}
//.r-180 {
//  transform: rotate(180deg);
//}

@media (max-width: $mobile-breakpoint) {
  .hide-sm {
    display: none;
  }
}
@media (min-width: $mobile-breakpoint) {
  .hide-lg {
    display: none;
  }
}

button:focus {
  background: transparent !important; // set by FORMS!!!;
}

.material-icons.small-icon {
  font-size: .9rem;
}

.far-away {
  position: fixed;
  left: -10000px;
}