@import 'colors';

.ml-5 {
  margin-left: 5px;
}
.mt-5 {
  margin-top: 5px;
}

.ml-50 {
  margin-left: 50px;
}

.mb-5 {
  margin-bottom: 5px;
}
.mb-15 {
  margin-bottom: 15px;
}

.m0 {
  margin: 0 !important;
}

.w-100 {
  width: 100%;
}

.max-content {
  width: max-content;
  max-width: 100%;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-center-self {
  align-self: center;
  justify-self: center;
}

.subtle {
  color: $subtle-color !important;
}
.subtle-bg {
  background: $subtle-color !important;
}

.btn-subtle {
  border: 0;
  cursor: pointer;
}

.btn-invisible {
  @extend .btn-subtle;
  background: transparent;

  &:focus {
    background: transparent;
  }
}
