@charset "UTF-8";

// https://materializecss.com/icons.html

// Color
@import "../../node_modules/materialize-css/sass/components/color-variables";
@import "../../node_modules/materialize-css/sass/components/color-classes";

$secondary-color: color("materialize-red", "lighten-1") !default;
$font-family: "Maven Pro", "Roboto", sans-serif;
// Variables;
@import "../../node_modules/materialize-css/sass/components/variables";

// Reset
@import "../../node_modules/materialize-css/sass/components/normalize";


html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.z-depth-0,
.z-depth-1,
.z-depth-1-half,
.z-depth-2,
.z-depth-3,
.z-depth-4,
.z-depth-5,
.no-select {
  abc: none;
}

// shared styles
.btn {
  border: $button-border;
  border-radius: $button-radius;
  display: inline-block;
  height: $button-height;
  line-height: $button-height;
  padding: $button-padding;
  text-transform: uppercase;
  vertical-align: middle;
  background: transparent;
  -webkit-tap-highlight-color: transparent; // Gets rid of tap active state
}

// Shared icon styles
.btn,
.btn-large,
.btn-small {
  font-size: $button-font-size;
  outline: 0;

  i {
    font-size: $button-icon-font-size;
    line-height: inherit;
  }
}

i.material-icons {
  line-height: inherit;

  &.tiny {
    font-size: 1rem;
  }

  &.medium {
    font-size: 2rem;
  }

  &.large {
    font-size: 4rem;
  }
}

//// Large button
//.btn-large {
//  @extend .btn;
//  height: $button-large-height;
//  line-height: $button-large-height;
//  font-size: $button-large-font-size;
//  padding: 0 28px;
//
//  i {
//    font-size: $button-large-icon-font-size;
//  }
//}
//@import "../../node_modules/materialize-css/sass/components/buttons";

@import "../../node_modules/materialize-css/sass/components/grid";
@import "../../node_modules/materialize-css/sass/components/modal";
@import "../../node_modules/materialize-css/sass/components/forms/forms";

ul {
  list-style-type: none;
  padding-left: 0;
}

a {
  text-decoration: none;

  &.btn {
    color: inherit;
    ;
  }

  &.u {
    &:hover {
      text-decoration: underline;
    }
  }
}

html {
  line-height: 1.5;
  font-weight: normal;
  color: $off-black;
  font-family: $font-family;
}

h1,
h2,
h3,
h4,
h5,
h6 {

  &,
  & a {
    font-weight: 400;
    line-height: 1.3;
  }
}

button,
input,
optgroup,
select,
textarea {
  font-family: $font-family;
}

// Header Styles
h1 {
  font-size: $h1-fontsize;
  line-height: 110%;
  margin: ($h1-fontsize / 1.5) 0 ($h1-fontsize / 2.5) 0;
}

h2 {
  font-size: $h2-fontsize;
  line-height: 110%;
  margin: ($h2-fontsize / 1.5) 0 ($h2-fontsize / 2.5) 0;
}

h3 {
  font-size: $h3-fontsize;
  line-height: 110%;
  margin: ($h3-fontsize / 1.5) 0 ($h3-fontsize / 2.5) 0;
}

h4 {
  font-size: $h4-fontsize;
  line-height: 110%;
  margin: ($h4-fontsize / 1.5) 0 ($h4-fontsize / 2.5) 0;
}

h5 {
  font-size: $h5-fontsize;
  line-height: 110%;
  margin: ($h5-fontsize / 1.5) 0 ($h5-fontsize / 2.5) 0;
}

h6 {
  font-size: $h6-fontsize;
  line-height: 110%;
  margin: ($h6-fontsize / 1.5) 0 ($h6-fontsize / 2.5) 0;
}



.modal {

  display: inline-block;
  z-index: 1000; // after 996 it's visible over the navbar
  top: 10%;
  max-height: 85%;


}

.fixed-action-btn {
  position: fixed;
  right: 23px;
  bottom: 23px;
  padding-top: 15px;
  margin-bottom: 0;
  z-index: 997;

  &.top-right {
    bottom: unset;
    top: 23px;
  }
}

input.as-title.h5 {
  height: 1.1 * $h5-fontsize;
  @extend h5;
}

input.invisible {
  height: 1.5rem;
  margin: 0;
  border-bottom: 0;
  font-size: 1rem;

  &:focus {
    border-bottom: 0 !important;
    box-shadow: none !important;
  }

  &[disabled] {
    border-bottom: none;
  }
}


.material-cb {

  &+div {
    cursor: pointer;
    margin-right: 10px;
    display: inline-block;
  }

  &+div:after {
    content: "check_box_outline_blank";
    font-family: "Material Icons", sans-serif;
    font-size: 1.3rem;
    //top: -.25rem;
    position: relative;

    //content: "";
    //background-image: url('../assets/check/empty.svg');
    //width: 20px;
    //height: 20px;
    //display: inline-block;
    //top: 2px;
  }

  &:checked+div:after {
    content: "check_box";
    //content: "";
    // background-image: url('../assets/check/full.svg');
  }

  //&:hover + div:after {
  //  content: "";
  //  background-image: url('../assets/check/half.svg');
  //}

}

.material-icons {
  &.expanded {
    transform: rotate(90deg);
  }

  margin: 0 !important; // just like a button

  &.btn {
    font-size: 1.5rem !important;
  }
}

/* This is needed for some mobile phones to display the Google Icon font properly */
.material-icons {
  text-rendering: optimizeLegibility;
  font-feature-settings: 'liga';
}

.modal {

  .modal-header {
    padding: 1.5rem 1.5rem 0.5rem 1.5rem;
    font-size: 1.5rem;
  }
}