@mixin box_shadow($size: 7px, $inside: -2px) {
  -webkit-box-shadow: 0 0 $size $inside #666;
  -moz-box-shadow: 0 0 $size $inside #666;
  box-shadow: 0 0 $size $inside #666;
}

@mixin transition($transition: 0.4s all ease-in-out /* <- default */
) {
  transition: $transition;
}
