@import 'src/sass/colors';
@import 'mixins';

#todo-app {
  @extend .flex-row;
  justify-content: space-between;

  &.hidden-bar {
    //justify-content: center;
    //@media (max-width: $hide-navbar-width) {
    //  display: none;
    //}
    //@media (min-width: $hide-navbar-width) {
    //  visibility: hidden;
    //}
    .projects-list-box-inner {
      left: -$navbar-width;
    }
    .projects-list-box {
      max-width: 0;
    }
  }
}

%left-sidebar {
  display: inline-block;
  min-height: 100px;
  left: 0;
  max-width: $navbar-width;
}

.projects-list-box {
  flex: 0 0 $navbar-width;
  @extend %left-sidebar;
  @include transition();
  &-inner {
    @include transition();
    width: $navbar-width;
    @extend %left-sidebar;
    background: $sidebar-color;
    overflow: auto;
    position: fixed;
    top: $navbar-height;
    bottom: 0;
  }
}

.tasks-list-box {
  //@extend %nice-scrolls;
  padding: 20px !important;
  float: unset !important;
  justify-self: center;
  width: $tasks-box-width;
  min-width: $tasks-box-min-width;
}

.loader-input {
  position: relative;

  &:after {
    content: "";
    align-self: center;
    justify-content: flex-end;
    background: url("../assets/loader.svg") left no-repeat;
    background-size: contain;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;

    position: absolute;
    backdrop-filter: blur(1px);
  }

  &.cover:after {
    background-position: center;
    background-size: 50px
  }

}

nav {
  height: $navbar-height;
  z-index: 1;
}
.nav-wrapper {
  //max-width: 1000px;
  padding: 0 50px;
  margin: 0 auto;
}
