@import 'src/sass/colors';

.projects-list-box {
  background: $sidebar-color;
  overflow: auto;
  position: fixed;
  height: 100%;
}

.tasks-list-box {
  //@extend %nice-scrolls;
  padding: 40px !important;
  float: unset !important;
}

.loader-input {
  display: flex;

  &:after {
    content: "";
    align-self: center;
    justify-content: flex-end;
    background: url("../assets/loader.svg");
    background-position: center;
    width: 40px;
    height: 40px;
    background-size: contain;
  }

  &.loader-lg:after {
    height: 120px;
    width: 120px;
  }
}
