@import 'src/sass/colors';

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  background: $app-background-color;

  //overflow: hidden; // !!!!! TODO - we should be able to solve this without the hidden!
  overflow-x: hidden;
  margin: 0;
}

@import 'src/sass/material';
@import 'src/sass/generic';
@import 'src/sass/forms';
@import 'src/sass/app';

#root {
  display: flex;
  flex-direction: column;
}

// Invisible!
.material-icons.inv {
  @extend .tiny;
  @extend .btn-p;
  @extend .v-hidden;

}

//.ct-toast {
//  background: rgba($toast-bg-color, 0.6) !important;
//  color: $primary-color-bg-text !important;
//}

@media (pointer: coarse) {
  html {
    font-size: 16px !important;
  }
}
