@import 'src/sass/material';

@import 'src/sass/colors';
@import 'src/sass/generic';

@import 'src/sass/forms';


@import 'app';

body {
  background: $app-background-color;

  //overflow: hidden; // !!!!! TODO - we should be able to solve this without the hidden!
  overflow-x: hidden;
}

#root {
  display: flex;
  flex-direction: column;
}

// Invisible!
.material-icons.inv {
  @extend .tiny;
  @extend .btn-p;
  @extend .v-hidden;
}

//.ct-toast {
//  background: rgba($toast-bg-color, 0.6) !important;
//  color: $primary-color-bg-text !important;
//}

@media only screen and (min-width: 0) {
  html {
    font-size: 16px !important;
  }
}
