@import 'src/sass/mixins';
@import 'src/sass/colors';

.subtasks {
  margin-left: 20px;
}


.task {
  display: inline-block;
  width: 100%;

  .taskName {
    color: $primary-color-text;
  }

  .task-name {
    min-width: max-content;
    &.done {
      text-decoration: line-through;
      color: $subtle-color;
    }
  }

  &.starred {
    background-color: rgba($priority-med, 0.1);
  }

  >.task__content {
    padding: $task-padding 0;
    display: flex;
    align-items: flex-start;

    .project-dot {
      border-radius: 100%;
      font-size: 0.8rem;
      display: inline-block;
      left: -0.3rem;
      top: 3px;
      position: relative;
      align-self: flex-start;
      cursor: help;
    }

    .toggle-expand {
      // align-self: flex-start;
      padding: 0;
      margin-right: 0;
      top: -3px;
      position: relative;
    }
  }

  .task__action-button {
    float: right;
    color: $subtle-color;
    //font-size: small;
    //line-height: inherit;
    @media (pointer: fine) {
      display: none;
    } 
    @media (pointer: coarse) {
      padding: 0;
    }
  }

  &:hover, &.show-actions {
    .task__action-button {
      display: inline-block;
    }
  }
}


.parentHover {
  border-radius: 8px;

  @media (pointer: fine) {
    .child-hover {
      visibility: hidden;
    }
  }

  @media (pointer: coarse) {
    .child-hover {
      color: $very-subtle-color;
    }
  }

  &:hover {
    .child-hover {
      visibility: visible;
    }
  }
}