@import 'src/sass/mixins';
@import 'src/sass/colors';

.subtasks {
  margin-left: 20px;
}


.task {
  display: inline-block;
  width: 100%;

  //@media (pointer: fine) {
  //  &:hover {
  //    @include box_shadow();
  //  }
  //}

  .taskName {
    color: $primary-color-text;
  }

  &.done {
    .task-name {
      text-decoration: line-through;
      color: $subtle-color;
    }

    //.task-name, .material-cb + div {
    //  opacity: 0.4;
    //}
  }

  >.task__content {
    padding: $task-padding $task-padding $task-padding 0;
    display: flex;
    align-items: center;

    .project-dot {
      border-radius: 100%;
      font-size: 0.8rem;
      display: inline-block;
      left: -0.3rem;
      position: relative;
    }
  }

  .task__action-button {
    float: right;
    color: $subtle-color;
    //font-size: small;
    //line-height: inherit;
    @media (pointer: fine) {
      display: none;
    }
  }

  &:hover, &.show-actions {
    .task__action-button {
      display: inline-block;
    }
  }
}


.parentHover {
  border-radius: 8px;

  @media (pointer: fine) {
    .child-hover {
      visibility: hidden;
    }
  }

  @media (pointer: coarse) {
    .child-hover {
      color: $very-subtle-color;
    }
  }

  &:hover {
    .child-hover {
      visibility: visible;
    }
  }
}