@import 'src/sass/mixins';
@import 'src/sass/colors';

.subtasks {
  margin-left: 20px;
}


.task {
  display: inline-block;
  width: 100%;

  //@media (pointer: fine) {
  //  &:hover {
  //    @include box_shadow();
  //  }
  //}

  .task-name {
    color: $primary-color-text;
  }

  &.done {
    .task-name {
      text-decoration: line-through;
    }

    .task-name, .material-cb + div {
      opacity: 0.4;
    }
  }

  > .task-content {
    padding: 10px 10px 11px;
  }
}


.parent-hover {
  border-radius: 8px;

  @media (pointer: fine) {
    .child-hover {
      display: none;

      &.ch-hidden {
        display: inline-block;
        visibility: hidden;
      }
    }
  }
  @media (pointer: coarse) {
    .child-hover {
      color: $subtle-color;
    }
  }

  &:hover {
    .child-hover {
      display: inline-block;
      visibility: visible;
    }
  }
}
