
.icon-picker {
    margin-top: 5px;
    padding: 15px;
    
    // same as "TwitterPicker" box style
    width: 276px;
    background: rgb(255, 255, 255);
    border: 0px solid rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 4px rgba(0,0,0,0.25);
    border-radius: 4px;
    position: relative;
}

// width: width,
// background: '#fff',
// border: '0 solid rgba(0,0,0,0.25)',
// boxShadow: '0 1px 4px rgba(0,0,0,0.25)',
// borderRadius: '4px',
// position: 'relative'