@import 'src/sass/mixins';
@import 'src/sass/colors';

#root {
  .todo-navbar {
    position: fixed;
    width: 100%;
    z-index: 2;

    > .navbar-hide {
      background-color: $navbar-color;
      color: $navbar-color-text;
    }
    .navbar-right {
      margin: 0 0 0 auto;
      float: right;
    }
  }

  &.desktop .todo-navbar {
    > .navbar-hide {
      background-color: $navbar-color;
      @include transition();
    }

    &.closed {
      > .navbar-hide {
        margin-top: -$navbar-height;
      }
    }

    &.open {
      > .navbar-hide {
        margin-top: 0;
      }
    }
  }

  .todo-navbar__button {
    position: fixed;
    left: $navbar-padding;
    top: 2px; // somehow...
    height: $navbar-height;
  }
}

#search-tasks {
  margin: 0 0 0 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative; // needed for the dropdown.

  > .input {
    background: rgba($app-background-color, 0.3);
    height: 0.6 * $navbar-height;
    border: none;
    border-radius: 3px;
    padding: 10px;
    margin: 0;
    box-sizing: border-box;
    color: $very-subtle-color;
    @include transition(0.2s ease-in-out);

    &:focus {
      background: $app-background-color;
      color: $primary-color-text;
    }

    &::placeholder {
      color: white;
    }
  }
}

.search-results.dropdown {
  position: fixed;
  background: white;
  margin: 0;
  top: 50px;
  color: black;
  display: flex;
  flex-direction: column;
  min-width: 200px;
  width: max-content;
  z-index: 2;
  max-height: 70vh;
  overflow: auto;
  padding: 0;

  @media (max-width: 600px) {
    left: 1rem;
    right: 1rem; 
    min-width: calc(100vw - 2rem);
  }
}
