.parent-hover {
  .child-hover {
    display: none;
  }

  &:hover {
    .child-hover {
      display: inline-block;
    }
  }
}

input.invisible {
  border-bottom: 0;
  font-size: 1rem;
}

.btn-subtle {
  border: 0;
  cursor: pointer;
}
