@import 'src/sass/colors';

.app-loader {
  top: 0; left: 0; bottom: 0; right: 0;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;

  background: rgba($loader-bg-color, 0.6);
  backdrop-filter: blur(3px);
  z-index: 1000; // it needs to be above everything else...
}
